.custom {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-size: 250%;
}

.customSmaller {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-size: 110%;
}

.wrapper {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.search {
    text-align: center;
}

.container {
    margin-top: 5%;
}

.col-4 {
    margin-bottom: 3%
}

.navbar-brand {
    font-size: 200%;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}